@charset "UTF-8";

.no-col{
	width: 7%;
}
.idx-col{
	width: 5%;
}
.idx-checkbox{
	background-image: url( "../../../files/sjh/adminpage/checkbox-background.png" );
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
}
#idx-checked{
	background-image: url( "../../../files/sjh/adminpage/checked.png" );
}
.title-col{
	width: 20%;
}
.content-col{
	width: 31%;
}

.reg-btn{
	width: 90px;
	height: 48px;
	font-size: 16px;
	font-weight: 500;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: rgb(10, 114, 225);
	color: white;
}