@charset "UTF-8";
.contents{
	display: flex;
	flex-direction: column;
	justify-content : center;
	align-items : center;
	width:100%;
}
.content-head{
	width: 100%;
	height: 120px;
}
.content-head-text{
	display : flex;
	margin-left : 2.5%;
	margin-right : 2.5%;
	margin-top : 20px;
	background-color: #B6BBC4;
	width : 300px;
	height: 60px;
	font-size: 24px;
	font-weight : 800;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}
.content-body{
	width: 91%;
	background-color: white;
	display: flex;
	padding: 20px 30px;
	margin-bottom: 30px;
}

.bbs-content{
	width: 100%;
}

.bbs-content-bbs{
	width: 95%;
	margin-top: 30px;
	 
}
.bbs-content-bbs div div{
	margin-top: 10px;
	margin-bottom: 10px;
}
.bbs-main{
	display: flex;
	flex-direction : column;
	margin-left: 10px;
	justify-content: center;
}
.bbs-main-title{
	font-weight: bold;
	border-bottom: 2px solid black;
	padding : 5px;
	font-size: 24px;
	height: 50px;
	border-bottom: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #B6BBC4;
}
.bbs-main-date{
	display: flex;
	justify-content: flex-end;
	font-size: 18px;
}
.bbs-main-content{
	border: 1px solid black;
	border-radius: 10px;
}
.bbs-main-text{
	padding : 5px;
	font-size: 18px;
	height: 40px;
	border-bottom: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 20px;
	font-weight: bold;
	
}
.bbs-main-text button{
	padding: 5px 5px;
	font-size: 18px;
}


