a {
	color: white; /* 링크 텍스트를 흰색으로 설정 */
	text-decoration: none; /* 밑줄 제거 (선택 사항) */
}

.footer {
	background-color: #003366;
	color: #fff;
	font-family: Arial, sans-serif;
	text-align: center;
	width: 100%;
}
.footer-content{
	margin: 0 200px;
	
}


.footer-img {
	width: 200px;
	margin-left: 50px;
	width: 200px;
}

.footer-img img {
	width: 250px;
}

.footer-column {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.column1 {
	margin-right: 500px;
}

.col {
	display: flex;
	padding: 10px;
	text-align: left;
	font-size: 14pt;
	font-weight: 800;
}

.col2 {
	width: 180px;
	padding: 10px;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	text-align: left;
	margin-left: 150px;
	font-size: 14pt;
	font-weight: 800;
}
.col3 {
	display: flex;
	width: 300px;
	padding: 10px;
	text-align: left;
	margin-left: 100px;
	font-size: 14pt;
	font-weight: 800;
}
.col3_jp{
	margin-left: 13px;
	
}

.column2 {
	width: 300px;
}

.columns {
	width: 300px;
}

.colum-select {
	width: 400px;
}

.footer-bottom {
	border-top: 1px solid white; /* 흰색 선 */
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
	padding: 10pt;
	margin-left: 50pt;
	margin-right: 50pt;
	font-size: 10pt;
}