@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

.index-contents{
	display: flex;
}
.index-side-menu{
/* 예비 사이드바 나중에 지울꺼임 */
	width: 17%;
	background-color: rgb(255, 255, 255);
}

.index-content{
	width: 83%;
	background-color: #F0ECE5;
}
