@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.index-contents {
	width: 100%;
	display: flex;
}

.index-content {
	position: relative;
	width: 100%;
	justify-content: center;
	align-items: center;
 	background-image: url('../backgroundImgFolder/mapOfWorld.jpg');
}

.content-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
}

.content-background img {
	object-fit: cover;
}

.contents {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: baseline;
	width: 100%;
	flex-direction: row; 
}

.content-body {
	position: relative;
	z-index: 1;
	width: 90%;
	background-color: rgba(255, 255, 255, 0);
	display: flex;
	padding: 20px 70px;
	margin-bottom: 30px;
	
}

.bbs-content1 {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: flex-start;
	width: 20%; /* 부모 요소에 대한 너비 설정 */
	padding: 20px; /* 간격을 위한 패딩 추가 */
	box-sizing: border-box; /* 패딩을 너비에 포함하여 요소 크기를 계산 */
}
.bbs-content2 {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	width: 80%; /* 부모 요소에 대한 너비 설정 */
	padding: 20px; /* 간격을 위한 패딩 추가 */
	box-sizing: border-box; /* 패딩을 너비에 포함하여 요소 크기를 계산 */
}

.board {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin-bottom: 20px;
	box-sizing: border-box; /* 패딩을 요소 크기에 포함 */
	
	
}

/* 1,4번 넓이 조절 */
.bbs-content1 .board:nth-child(1) {
	width: calc(100% - 10px);
	flex: 0 0 calc(100% - 20px);
}

.bbs-content1 .board:nth-child(2) {
	width: calc(100% - 10px);
	flex: 0 0 calc(100% - 20px);
}

/* 나머지 넓이 조절 */
.bbs-content2 .board:nth-child(1), .bbs-content2 .board:nth-child(2) {
	width: calc(50% - 10px);
	flex: 0 0 calc(50% - 20px);
}

.bbs-content2 .board:nth-child(3), .bbs-content2 .board:nth-child(4) {
	width: calc(50% - 10px);
	flex: 0 0 calc(50% - 20px);
}

.board-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	border-bottom: 2px solid grey;
}

.post {
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
}

.post-title {
	font-weight: bold;
	color: #007bff;
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
}

.post-info {
	font-style: italic;
	color: #888;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.myself {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	margin-top: 0px;
}

.myself-info {
	display: flex;
	font-size: 18px;
	color: black;
	width: 100%;
	white-space: nowrap;
	margin-bottom: 10px;
}

.myself-line1 {
	border-right: 2px solid black;
	flex: 4;
	text-align: right; /* 가운데 정렬 추가 */
	
}

.myself-line2 {
	flex: 8;
	text-align: left; /* 가운데 정렬 추가 */
}

.post-title-info {
	display: flex;
}

.post-title-info-date {
	font-style: italic;
	color: black;
}

.board-button {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.board-button button {
	padding: 6px 12px;
	margin-left: 10px;
	background-color: #337ab7;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	font-size: 15px;
	transition: background-color 0.3s, color 0.3s;
}

.board-button button:hover {
	background-color: #285e8e;
	color: #fff;
}


.contents a:link{
	text-decoration: none;
} 
.contents a:visited,a:active{
	color : #007bff;
} 


