@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.index-contents {
	width: 100vw;
	display: flex;
}

.index-content {
	width: 100%;
	background-color: #ccc;
	justify-content: center;
	align-items: center;
}

.content-border {
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-box {
	display: flex;
	width: 90%;
	height: 500px;
	align-items: center;
	justify-content: space-between;
}

.content1 {
	width: 24%;
	height: 450px;
	background-color: white;
}

.content2 {
	width: 36%;
	height: 450px;
	background-color: white;
}

.content3 {
	background-color: white;
	width: 32%;
	height: 450px;
}

.content-head {
	width: 100%;
	height: 15%;
	background-color: #337CCF;
	color: white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content-body{
	width: 100%;
	height: 85%;
	display: flex;
	flex-direction: column;
    justify-content: space-around;
    align-items: center;
	
}
.content-line{
	
	width: 80%;
	height: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid black;
	
}
